
:root {
    --light_blue:rgb(236, 242, 255);
    --d-blue: rgb(62, 84, 172);
    --bg: hsl(307, 22%, 92%);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
    background: beige;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/*---------------------styles for positioning------------------*/

.center-align{
    display: flex;
    justify-content: center;
}


#signup-form{
    padding: 35px;
    border-radius: 7px;
background: white;
}

#sign-in-text{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.form-field{
    display: flex;
    flex-direction: column;
}
#signupbtn{
    margin: 1rem 0;
    width: -webkit-fill-available;
}
   

/*---------------------styles for validation-------------------*/
.err {
    border: 2px solid var(--red);
    background-repeat: no-repeat;
    background-position: 95%;
}

.err-text {
    visibility: hidden;
    font-size: 12px;
    font-style: italic;
    color: var(--red);
    margin-left: auto;
    margin-bottom: 1rem;
}

.success {
    border: 2px solid var(--green);
}

#success-msg{
    color: green;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}